@charset "utf-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
body {
  font-family: "Noto Sans", "Noto Sans JP", sans-serif;
  width: 100%;
  padding-top: 110px;
}
.inner {
  width: 1170px;
  margin: 0 auto;
}
.header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  background-color: #ffffff;
}
.header h2 {
  padding: 20px 0 ;
  font-size: 28px;
  font-weight: 500;
  color: #333333;
  margin-left: 135px;
}
.header .container {
  background-color: #333333;
  display: block;
}
.header ul {
  display: flex;
  justify-content: left;
  padding: 14px 0;
  margin-left: 135px;
}
.header li {
  list-style: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
}
.header ul li a {
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
}
.header ul li + li {
  margin-left: 50px;
}
.top_images {
  height: 300px;
  margin-bottom: 80px;
}
.top_images .inner {
  position: relative;
  margin-top: 40px;
}
.top_images .container {
  position: absolute;
  width: 100%;
}
.top_images ul {
  display: flex;
  justify-content: space-between;
}
.top_images ul li {
  list-style: none;
  width: calc((100% - 40px) / 3); 
}
.top_images ul li .readmore {
  text-align: center;
}
.top_images ul li a {
  color: #333333;
  text-decoration: none;
  border-bottom: 1px solid #333333;
  padding-bottom: 2px;
  font-size: 13px;
}
.top_images ul li p {
  padding: 20px 0;
}
.top_images li img { 
  width: 100%;
}
.main_sec {
  display: flex;
  justify-content: space-between;
}
.main_bord {
  width: 65%;
}
.main_bord h1 {
  padding-bottom: 10px;
  font-size: 24px;
}
.main_bord p {
  padding: 20px 0;
}
.main_bord p span {
  margin-left: 20px;
}
.main_bord  .main_text {
  padding: 35px;
}
.main_bord .readmore {
  text-align: center;
  padding: 30px 0 90px 0;
}
.main_bord a {
  color: #333333;
  text-decoration: none;
  border-bottom: 1px solid #333333;
  padding-bottom: 2px;
  font-size: 13px;
}
.main_bord img {
  width: 100%;
}
.side_bord {
  width: 33%;
}
.side_bord h2 {
  padding: 37px 0;
  text-align: center;
}
.side_bord img {
  width: 100%;
}
.side_bord .name_bord {
  text-align: center;
}
.side_bord .name_bord img {
  width : 130px;
  height: 130px;
  border-radius: 50%;
}
.side_bord .name_bord p {
  text-align: left;
  margin-bottom: 40px;
}
.side_bord .ranking_bord  p {
  padding: 10px 0 30px 0;
}
.side_bord .archive_bord p {
  padding: 24px;
  border-top: 1px solid #333333;
  font-size: 14px;
  font-weight: 400;

}
.side_bord .archive_bord {
  border-bottom: 1px solid #333333;
  margin-bottom: 140px;
}
.footer {
  background-color: #F7F7F7;
  height: 526px;
}
.footer .inner{
  display: flex;
  justify-content: space-around;
  position: relative
}
.footer .container {
  width: 350px;
  margin: 60px 0;
  padding: 0 ;
}
/*.footer .container_2 {
  border-bottom: 1px solid #333333;
}*/
.footer .container .about_h2 {
  margin-bottom: 30px;
}
.footer .container .about_p {
  padding: 6px 0;
  font-size: 14px;
  line-height: 1.2rem;
}
.footer .cover {
  display: flex;
  align-items: center;
}
.footer .cover a {
  color: #333333;
}
.footer .container .tr_1 {
  display: inline-block;
}
.footer .container img {
    width: 15px;
}
.footer .container + .container {
  margin-left: 60px;
}
.footer .inner .mini {
  position: absolute;
  top: 490px;
  display: block;
  padding: 10px 0;
  font-weight: 400;
  font-size: 14px;
} 
.footer .menu_h2 {
  margin-bottom: 30px;
}
.footer .menu_p {
  border-top: 1px solid #333333;
  padding: 18px;
  font-size: 14px;
} 
.footer .qa {
  border-bottom: 1px solid #333333 ;
}
@media (max-width: 1024px) {
  .inner {
    width: 100%;
  }
}
@media (max-width: 414px) {
  .header h2 {
    text-align: center;
    margin-left: 0;
  }
  .header ul {
    display: flex;
    justify-content: center;
    padding: 14px 0  14px 0;
    margin-left: 0;
  }
  .header ul li + li {
    margin-left: 24px;
  }
  .top_images ul li {
    list-style: none;
    width: 95%;
    margin: 0 auto;
  }
  .top_images {
    height: 970px;
  }
  .top_images ul {
    display: block
  }
  .top_images ul li .readmore {
    margin: 0 0 40px 0;
  }
  .main_sec {
    display: block;
  }
  .main_bord {
    width: 95%;
    margin: 0 auto;
  }
  .side_bord {
    width: 95%;
    margin: 0 auto;
  }
  .footer {
    height: 1290px;
}
  .footer .inner {
    display: block;
    width: 94%;
  }
  .footer .container {
    padding: 0;
    width: 100%;
  }
  .footer .container + .container {
    margin-left: 0px;
  }
  .footer .container {
    width: 94%;
    margin: 0 0;
    padding: 0 3%;
  }
  .footer .container .about_h2 {
    margin: 0px 0 30px 0;
  }
  .footer .container h2 {
    padding-top: 60px;
  }
  .footer .twitter {
    padding-bottom: 40px;
  }
  .footer .inner .mini {
    top: 1250px;
    left: 35%;
  }
}
  @media (max-width: 375px) {
    .header h2 {
      text-align: center;
      margin-left: 0;
    }
    .top_images ul li {
      list-style: none;
      width: 95%;
      margin: 0 auto;
    }
    .header ul {
      display: flex;
      justify-content: left;
      padding: 14px 0  14px 5%;
      margin-left: 0;
    }
    .header ul li + li {
      margin-left: 20px;
    }
    .top_images {
      height: 970px;
    }
    .top_images ul {
      display: block
    }
    .top_images ul li .readmore {
      margin: 0 0 40px 0;
    }
    .main_sec {
      display: block;
    }
    .main_bord {
      width: 95%;
      margin: 0 auto;
    }
    .side_bord {
      width: 95%;
      margin: 0 auto;
    }
    .footer {
      height: 1290px;
  }
    .footer .inner {
      display: block;
      width: 94%;
    }
    .footer .container {
      padding: 0;
      width: 100%;
    }
    .footer .container + .container {
      margin-left: 0px;
    }
    .footer .container {
      width: 94%;
      margin: 0 0;
      padding: 0 3%;
    }
    .footer .container .about_h2 {
      margin: 0px 0 30px 0;
    }
    .footer .container h2 {
      padding-top: 60px;
    }
    .footer .twitter {
      padding-bottom: 40px;
    }
    .footer .inner .mini {
      top: 1250px;
      left: 35%;
    }
  
}
@media (max-width: 320px) {
  .footer .inner .mini {
    top: 1250px;
    left: 30%
  }
  .header ul {
    display: flex;
    justify-content:center;
    padding: 14px 0 14px ;
    margin-left: 0;
  }
  .header ul li + li {
    margin-left: 20px;
  }
  .pc_only {
    display: none;
  }
}
